.container {
  display: flex;
  flex-direction: row;

  > * {
    height: 100vh;

    + * {
      border-left: 1px solid black;
    }
  }

  .input-column {
    min-width: 200px;
    max-width: 200px;
  }

  .select-column {
    min-width: 100px;
    flex-grow: 1;
  }

  .result-column {
    min-width: 300px;
    max-width: 300px;
  }
}